<hr/>
<h2>MyHeroes</h2>
<ul class="heroes">
  <li *ngFor="let heo of heroes"
      [class.selected]="heo === selectedHero"
      (click)="onSelect(heo)"
  >
    <span class="badge">{{heo.id}}</span>{{heo.name}}
    <button class="delete" (click)="delete(heo); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<div>
  <label>Hero Name:</label>
  <input #heroName />
  <button (click)="add(heroName.value); heroName.value=''">Add</button>
</div>
